<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PZK99WQG');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="<%= icon %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:site_name" content="Koon2120" />
    <meta property="og:image" content="<%= thumnail %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:url" content="<%= url %>" />
    <meta name="twitter:image" content="<%= thumnail %>" />
    <link rel="stylesheet" href="<%= style %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZK99WQG" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="main">
        <div class="main_top">
            <a href="/"><img class="main_top_left" src="/static/images/logo.png" alt="Koon2120 Logo"></a>
            <div class="main_top_right">
                <a class="main_top_right_to" href="#about">ABOUT</a>
                <a class="main_top_right_to" href="#projects">PROJECTS</a>
                <a class="main_top_right_to" href="#follow-us">FOLLOW US</a>
                <a class="main_top_right_to" href="#contact-us">CONTACT US</a>
            </div>
        </div>
        <div class="main_content">
            <div id="home" class="content index_content content_bg_1">
                <img class="content_logo" src="/static/images/logo.png">
                <p class="content_caption">ยินดีต้อนรับสู่เว็บไซต์อย่างเป็นทางการของ Koon2120!</p>
                <a class="content_link" href="#about">เกี่ยวกับเรา</a>
            </div>
            <div id="about" class="content content_bg_1">
                <p class="content_title">About</p>
                <p class="content_text">Koon2120 / Koon Oppe / Koon<br><br>
                    สวัสดีครับ ผมชื่อ Koon (กูร) เป็นคนหนึ่งที่มีความตั้งใจที่จะจะสร้าง Content คุณภาพๆ ออกไปสู่ Online Community และสร้างความเพลิดเพลิน ความสุข ความน่าสนใจ และประโยชน์ต่อผู้คนในโลก Online<br><br>
                    สังคม Online ปัจจุบันมีเรื่องราวมากมาย ทั้งความวุ่นวาย ปัญหาต่างๆ การถกเถียงอย่างรุณแรงและเข้มข้น การด่าทอ แซะกันจนสร้างความเกลียดชัง ความเครียด วิตกกังวล และความไม่สบายใจต่อกัน<br><br>
                    "เนื้อหา (Content)" เป็นสิ่งหนึ่งที่เราจะต้องพบเจออย่างแน่นอนในโลก Internet เนื้อหาที่มีความหลากหลายในข้อมูล จากหลากหลายผู้คนที่สร้างขึ้นมา เนื้อหานั้นจะเป็นประโยชน์หรือไม่ก็ได้ เนื้อหานั้นจะสร้างเสียงหัวเราะหรือไม่ก็ได้ ทั้งนี้ทั้งนั้นเนื้อหาเองก็มีทั้งดีและไม่ดี คุณภาพและไม่คุณภาพ ถูกต้องและไม่ถูกต้อง เนื้อหาเหล่านี้ถูกอัปโหลดเข้าสู่โลก Online อย่างรวดเร็วและจำนวนมาก บางเนื้อหาทำเพื่อหารายได้ บางเนื้อหาทำเพื่อความสนุก ซึ่งนั่นเป็นสิ่งที่เราพบเจอกันเป็นเรื่องปกติ แต่โลกเราก็ยังมีคนที่สร้างเนื้อหาที่ "ไร้ความรับผิดชอบต่อสังคม" อย่างเนื้อหาการหลอกลวงและการใส่ร้าย การทำเนื้อหาไม่ให้เกียรติในสังคม แถมสร้างความเดือดร้อนต่อสังคมนั้นยังคงเป็นปัญหาที่เกิดขึ้นอยู่ตลอดเวลา และพบได้ทั่วไปเลยทีเดียว เหล่านี้เป็นหนึ่งสิ่งที่สังคมในโลก Online ต้องเผชิญกับปัญหาสุดปวดหัวตลอดมา<br><br>
                    ถึงแม้มันจะเป็นไปได้ยากที่เนื้อหาเหล่านี้จะหายไปจากโลก Internet แต่อย่างน้อยก็ยังมีผู้คนที่คอยสร้างเนื้อหาที่คุณภาพ และให้ความสนุกต่อผู้คนอยู่ตลอดเวลา นั้นคือความต้องการของผมเอง ที่จะสร้าง Online Community ที่ดี สนุก มีความสุข และร่วมกันสร้างความรับผิดชอบต่อสังคมไปด้วยกัน ด้วย Content ที่เหมาะสมต่อไป<br><br>
                    งาน/ภาระกิจต่างๆ :<br>
                    - เคยเป็น Community Staff ให้กับเกม Home Sweet Home : Online<br>
                    - เปิดเพจทำ Content อิสระมากมาย ไม่ว่าจะเป็น โซเชียลปวดตับ, Anime UniGai, HSH Universe - Knowage of Niwarn<br>
                    - ดูแลทีมพากย์เล็กๆ ที่ชื่อ ST Dub Team<br><br>
                    ปัจจุบันเป็น Content Creator อิสระ, Graphic Designer, Web Developer และกำลังฝึกใช้ Unity สำหรับพัฒนาเกม
                </p>
                <hr><br>
                <a class="content_text_link" href="/projects">ทุกท่านสามารถดูโปรเจกต์ที่ทำอยู่ทั้งหมดได้ที่นี่</a><br>
                <a class="content_text_link" href="/follow-us">หรือต้องการติดตามช่องทางต่างๆ ของผมก็ดูที่นี่ได้เลย</a><br><br>
            </div>
            <div id="projects" class="content content_bg_2">
                <p class="content_title">Projects</p>
                <p class="content_text_top content_text_top_bottom">นี่คือโปรเจกต์ทั้งหมดของ Koon2120 อยู่ที่นี่ทั้งหมดแล้ว!</p>
                <a class="content_list" href="https://www.facebook.com/socialliverpainthai">โซเชียลปวดตับ</a>
                <a class="content_list" href="https://www.facebook.com/animeunigai">Anime Unigai</a>
                <a class="content_list" href="https://www.stdubteam.online/">ST Dub Team</a>
                <a class="content_list" href="https://www.facebook.com/HSHUniverse">HSH Universe - Knowage of Niwarn</a>
            </div>
            <div id="follow-us" class="content content_bg_2">
                <p class="content_title">Follow Us</p>
                <p class="content_text_top content_text_top_bottom">คุณสามารถติดตาม Koon2120 ผ่านช่องทาง Social Media ต่างๆ ได้ที่นี่</p>
                <a class="content_list" href="https://www.youtube.com/c/Koon2120">YOUTUBE</a>
                <a class="content_list" href="https://www.facebook.com/koon2120th">FACEBOOK</a>
                <a class="content_list" href="https://twitter.com/koon2120">TWITTER</a>
                <a class="content_list" href="https://www.twitch.tv/koon2120">TWITCH TV</a>
                <a class="content_list" href="https://www.bilibili.tv/th/space/1233456146">BILIBILI GLOBAL</a>
                <a class="content_list" href="https://forum.hareshi.net/members/koon2120.71/">HARESHI FORUM</a>
            </div>
            <div id="contact-us" class="content content_bg_2 content_last">
                <p class="content_title">Contact Us</p>
                <p class="content_text_top">หากต้องการติดต่อ koon2120 โดยตรง ตอนนี้มีช่องทางสำหรับการติดต่อตามด้านล่างนี้</p>
                <p class="content_text_top_warning">โปรดทราบว่าหากติดต่อทางช่องทางนอกเหนือจากนี้ อาจจะไม่ได้รับการตอบกลับ และอาจไม่ปลอดภัยได้</p>
                <p class="content_list_top">ช่องทางการติดต่อ :</p>
                <a class="content_list" href="mailto:contact@koon2120.online">Email : contact@koon2120.online</a>
                <a class="content_list" href="https://www.facebook.com/koonoppe">Facebook Profile : Koon Oppe</a>
                <a class="content_list" href="https://discord.gg">Discord : koon2120</a>
            </div>
        </div>
        <div class="main_bottom">
            <a class="main_bottom_left" href="/blog">BLOG</a>
            <div class="main_buttom_right">
                <a class="main_bottom_right_to" href="https://www.youtube.com/c/Koon2120"><img
                        class="main_bottom_right_to_img" src="/static/images/social/youtube.png"></a>
                <a class="main_bottom_right_to" href="https://www.facebook.com/koon2120th"><img
                        class="main_bottom_right_to_img" src="/static/images/social/facebook.png"></a>
                <a class="main_bottom_right_to" href="https://twitter.com/koon2120"><img
                        class="main_bottom_right_to_img" src="/static/images/social/twitter.png"></a>
                <a class="main_bottom_right_to" href="https://www.twitch.tv/koon2120"><img
                        class="main_bottom_right_to_img" src="/static/images/social/twitch.png"></a>
            </div>
        </div>
    </div>
</body>

</html>