<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="<%= icon %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:site_name" content="<%= site_name %>" />
    <meta property="og:image" content="<%= og_image %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:url" content="<%= url %>" />
    <meta name="twitter:image" content="<%= og_image %>" />
    <link rel="stylesheet" href="<%= style_link %>">
</head>

<body>
    <div>
        <h1>404 Not Found</h1>
        <a href="/">Go To Homepage</a>
    </div>
</body>

</html>